@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
/* link das fontes utilizadas*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /*height e o width: a tela toda/ justify e o align são os centro*/
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://picsum.photos/seed/picsum/1600/900");
    /*imagem unica sem mudanças por enquanto*/
}

.container{
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 22px;
    width: 95%;
    max-width: 450px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: rgb(51, 49, 49);
    color: beige;
    width: calc(100% - 80px);
    /* esse width é a linha de digite alguma coisa tralala*/
}

.button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 100px;
    background-color: rgb(51, 49, 49);
    cursor: pointer;
    float: right;
}

.img-buscar{
    width: 25px;
}

.container-medio{
    margin-top: 30px;
}

.cidade{
    color: beige;
    font-size: 25px;
    /*font-weight: 300; <- pra deixar a letra mais fina*/
}

.tempo{
    font-size: 20px;
    color: beige;
    margin-top: 20px;
}

.container-small{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.text-previsao{
    color: beige;
    margin-top: 20px;
    padding: 10px;
    text-transform: capitalize;
}

.icon-do-tempo{
    width: 50px;
    margin-top: 5px;
    background-color: beige;
}

.umidade{
    color: beige;
    margin-top: 20px;
}